In [2]:
# import pandas as pd

In [3]:
# df = pd.read_csv("/Users/aswathshakthi/PycharmProjects/Detail Report of expenses.csv")
# df

In [4]:
# df2 = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MLMR/MNP25/App Codes/Master Files/articles.xlsx")
# df2 = df2[["Articles","Category"]]
# df2

In [5]:
# res = df.merge(df2,on="Articles",how="left")
# res

In [6]:
# df3 = pd.read_csv("/Users/aswathshakthi/PycharmProjects/MLMR/MNP25/Master Records - Database/All Records 5-3-25 Database.csv")
# df4 = df3.groupby(
#     ["Article Name", "Article Category"],
#     as_index=False
# ).agg(
#     Quantity=("Quantity", "sum"),
#     Total_Value=("Total Value", "sum")
# )
# df4 = df4.rename(columns={"Article Name": "Articles"})
# df4

In [7]:
# res = res.merge(df4, on="Articles",how="left")
# res

In [8]:
# res[res["Cost "]!= res["Total_Value"]]

In [9]:
# res.to_csv("Detailed report.csv",index=False)

In [10]:
import pandas as pd

# read file
df = pd.read_csv("/Users/aswathshakthi/PycharmProjects/master-entry-all-2026-02-15.csv")
df

,Application Number,Beneficiary Name,Requested Item,Quantity,Cost Per Unit,Total Value,Address,Mobile,Aadhar Number,Handicapped Status,Gender,Gender Category,Beneficiary Type,Item Type,Article Category,Super Category Article,Requested Item Tk,Comments
0,D052,Theni - A,Sewing Machine ORD + Motor(1/20),1,6300.0,6300.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD + Motor,NaN
1,D052,Theni - A,Sewing Machine ORD,4,5200.0,20800.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD,NaN
2,D052,Theni - A,Iron Box Brass,1,7500.0,7500.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Iron Box Brass,NaN
3,D052,Theni - A,Preethi Mixie,9,3600.0,32400.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Preethi Mixie,NaN
4,D011,Dharmapuri Central,Medical Aid,1,35000.0,35000.0,Dharmapuri Central,81225 41128,NaN,NaN,NaN,NaN,District,Aid,2.Aid,NaN,Medical Aid,Santhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,I001,"Government Leprosy Centre,Chengalpattu.",Front Load tricycle,1,14560.0,14560.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Bicycle & Tricycle,NaN,Front Load tricycle,NaN
1099,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium holed rice strainer with Handle,1,3500.0,3500.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Holed Rice Strainer,NaN
1100,I001,"Government Leprosy Centre,Chengalpattu.",Preethi Mixie,1,3600.0,3600.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Electronics,NaN,Preethi Mixie,NaN
1101,I001,"Government Leprosy Centre,Chengalpattu.",Cooker 20 Litres,1,5200.0,5200.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Cooker 20 Litres,NaN
1102,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium 10 Kg Dabara with Lid,1,5400.0,5400.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Alu Dabara with lid,NaN

In [11]:
df["Quantity"].sum()

4518

In [12]:
# split items on +
df["Requested Item"] = df["Requested Item"].str.split(r"\s*\+\s*")

# explode into separate rows
df = df.explode("Requested Item")

# remove extra spaces
df["Requested Item"] = df["Requested Item"].str.strip()

df.reset_index(drop=True, inplace=True)

df

,Application Number,Beneficiary Name,Requested Item,Quantity,Cost Per Unit,Total Value,Address,Mobile,Aadhar Number,Handicapped Status,Gender,Gender Category,Beneficiary Type,Item Type,Article Category,Super Category Article,Requested Item Tk,Comments
0,D052,Theni - A,Sewing Machine ORD,1,6300.0,6300.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD + Motor,NaN
1,D052,Theni - A,Motor(1/20),1,6300.0,6300.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD + Motor,NaN
2,D052,Theni - A,Sewing Machine ORD,4,5200.0,20800.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD,NaN
3,D052,Theni - A,Iron Box Brass,1,7500.0,7500.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Iron Box Brass,NaN
4,D052,Theni - A,Preethi Mixie,9,3600.0,32400.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Preethi Mixie,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,I001,"Government Leprosy Centre,Chengalpattu.",Front Load tricycle,1,14560.0,14560.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Bicycle & Tricycle,NaN,Front Load tricycle,NaN
1236,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium holed rice strainer with Handle,1,3500.0,3500.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Holed Rice Strainer,NaN
1237,I001,"Government Leprosy Centre,Chengalpattu.",Preethi Mixie,1,3600.0,3600.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Electronics,NaN,Preethi Mixie,NaN
1238,I001,"Government Leprosy Centre,Chengalpattu.",Cooker 20 Litres,1,5200.0,5200.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Cooker 20 Litres,NaN
1239,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium 10 Kg Dabara with Lid,1,5400.0,5400.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Alu Dabara with lid,NaN

In [13]:
df["Quantity"].sum()

4901

In [14]:
import pandas as pd

# Load combo file
df = pd.read_csv("/Users/aswathshakthi/PycharmProjects/master-entry-all-2026-02-15.csv")

# Make sure column name is correct
print(df.columns)

# Split rows containing '+'
df_split = (
    df.assign(
        Article=df["Requested Item"].str.split(r"\s*\+\s*")  # split and remove spaces around +
    )
    .explode("Article")  # create new row per split item
    .reset_index(drop=True)
)

# Remove accidental whitespace
df_split["Article"] = df_split["Article"].str.strip()

# Save output
df_split.to_csv("split_output.csv", index=False)

print("Original rows:", len(df))
print("Split rows:", len(df_split))

Index(['Application Number', 'Beneficiary Name', 'Requested Item', 'Quantity',
       'Cost Per Unit', 'Total Value', 'Address', 'Mobile', 'Aadhar Number',
       'Handicapped Status', 'Gender', 'Gender Category', 'Beneficiary Type',
       'Item Type', 'Article Category', 'Super Category Article',
       'Requested Item Tk', 'Comments'],
      dtype='object')
Original rows: 1103
Split rows: 1240

In [15]:
l1 = df_split["Article"].unique()

In [16]:
l2 = df["Requested Item"].unique()

In [17]:
ll1 = [x.lower() for x in l1]
ll1

['sewing machine ord',
 'motor(1/20)',
 'iron box brass',
 'preethi mixie',
 'medical aid',
 'laptop',
 'epson printer l3250 (lite)',
 'education aid',
 'ss rice drum capacity 25 ltrs',
 'agri power sprayer 4s',
 'gents cycle',
 'girls cycle',
 'agri manual sprayer',
 'sewing machine heavy',
 'motor(1/12)',
 'cash aid for handicapped',
 'wet grinder 2 ltr (hgt)',
 'ss plate and ss glass set',
 'construction aid',
 'ss surya gas stove 2 burner',
 'aluminium dabara with ss',
 'tea can 10 ltrs ss',
 'ms stove 2 burner',
 'bosch electrician kit 13 re',
 'plant sapling',
 'two wheeler_ls',
 'livelihood aid',
 'desktop computer',
 'tiffen set',
 'alu idli box',
 'wet grinder 3 ltrs',
 'juki power machine',
 'xerox machine',
 'agri battery sprayer',
 'fishing net',
 'inverter',
 'push cart with top',
 'kalsi instant rice machine 1.0 hp',
 'wheel chair folding',
 'wet grinder floor model 2 ltr',
 'table top wet grinder 2 ltr',
 'table top tilting grinder 2 ltr',
 'sewing machine overlock',
 'ms stove single burner',
 'canon 6030b',
 'diamond cooker 12 ltrs',
 'sujatha mixie',
 'butterfly mixie 750w',
 'bosch demolition hammer dca 11e',
 'ss surya gas stove 3 burner',
 'table fan',
 'wet grinder 5 ltrs',
 'iron box electric small',
 'wheel chair fixed',
 'financial aid',
 'agri power sprayer 2s',
 'handmover tricycle delux',
 'iron box electric big',
 'gp welding machine arc 200',
 'e vehicle load carrier (mahendra)',
 'set of utensils for kitchen',
 'students sports equipment for school',
 'ro plant with hot water facility',
 'tab (tb311xu) 4g calling & wifi',
 'hearing aid',
 'hp printer 126nw (heavy, all in 1)',
 'jack f6 power sewing machine',
 'tea shop furniture set',
 'agri manual sprayer 13l',
 'furniture book shelf',
 'water pump motor',
 'business aid',
 'energy cycle',
 'bosch electrician kit 10 re',
 'electric weigh machine 100kg',
 'aspee bolo power sprayer',
 'provision items',
 'bosch rotary hammer gbh 220',
 'dining table ss 304 with three seater 6 x 1.75 x 2.5',
 'push cart without top',
 'front load tricycle',
 'artificial leg',
 'handicapped two wheeler-100%',
 'handicapped two wheeler-50%',
 'electric brass iron box',
 'free marriage',
 'handicapped two wheeler-25%',
 'grocery items',
 'renovation aid',
 'mobile phone',
 'auto (3 wheeler) - 25% aid',
 'junior cycle',
 'back load tricycle',
 'goat(1 pair)',
 'electric stove',
 'ortho caliper',
 'ex gratia aid',
 'laptop - blind',
 'ceiling fan',
 "steel cupboard 6 1/2'",
 's type chair',
 'office table 4 x 2',
 'steel cupboard glass book shelf',
 'aluminium 5kg dabara  with lid',
 'aluminium holed rice strainer with handle',
 'cooker 20 litres',
 'aluminium 10 kg dabara with lid']

In [18]:
ll2 = [x.lower() for x in l2]
split_items = []

for item in ll2:
    parts = re.split(r"\s*\+\s*", item)  # handles spaces around +
    split_items.extend([p.strip() for p in parts])

split_items

NameError: name 're' is not defined

In [ ]:
print(pd.DataFrame(ll1).nunique())

In [ ]:
print(pd.DataFrame(split_items).nunique())

### Master data validation

In [60]:
df_old = pd.read_excel("/Users/aswathshakthi/Downloads/master-entry-all-2026-02-19.xlsx")
df_old

,Application Number,Beneficiary Name,Requested Item,Quantity,Cost Per Unit,Total Value,Address,Mobile,Aadhar Number,Handicapped Status,Gender,Gender Category,Beneficiary Type,Item Type,Article Category,Super Category Article,Requested Item Tk,Comments
0,D052,Theni - A,Sewing Machine ORD + Motor(1/20),1,6300.0,6300.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD + Motor,NaN
1,D052,Theni - A,Sewing Machine ORD,4,5200.0,20800.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD,NaN
2,D052,Theni - A,Iron Box Brass,1,7500.0,7500.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Iron Box Brass,NaN
3,D052,Theni - A,Preethi Mixie,9,3600.0,32400.0,Theni - A,94437 58195,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Preethi Mixie,NaN
4,D011,Dharmapuri Central,Medical Aid,1,35000.0,35000.0,Dharmapuri Central,81225 41128,NaN,NaN,NaN,NaN,District,Aid,2.Aid,NaN,Medical Aid,Santhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,I001,"Government Leprosy Centre,Chengalpattu.",Front Load tricycle,1,14560.0,14560.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Bicycle & Tricycle,NaN,Front Load tricycle,NaN
1099,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium holed rice strainer with Handle,1,3500.0,3500.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Holed Rice Strainer,NaN
1100,I001,"Government Leprosy Centre,Chengalpattu.",Preethi Mixie,1,3600.0,3600.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Electronics,NaN,Preethi Mixie,NaN
1101,I001,"Government Leprosy Centre,Chengalpattu.",Cooker 20 Litres,1,5200.0,5200.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Cooker 20 Litres,NaN
1102,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium 10 Kg Dabara with Lid,1,5400.0,5400.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Alu Dabara with lid,NaN

In [61]:
df_new =  pd.read_csv("/Users/aswathshakthi/Downloads/Database_Code_Aswath/master-entry-all-2026-02-19_validated.csv")
df_new

,Application Number,Beneficiary Name,Requested Item,Quantity,Cost Per Unit,Total Value,Address,Mobile,Aadhar Number,Handicapped Status,Gender,Gender Category,Beneficiary Type,Item Type,Article Category,Super Category Article,Requested Item Tk,Comments
0,D036,Mumbai,Sewing Machine ORD,2,5200.0,10400.0,Mumbai,95944 32555,NaN,NaN,NaN,NaN,District,Article,Sewing Machines,NaN,Sewing Machine ORD,NaN
1,D036,Mumbai,Laptop,1,40000.0,40000.0,Mumbai,95944 32555,NaN,NaN,NaN,NaN,District,Article,Computers & Printers,NaN,Laptop,NaN
2,D026,Krishnagiri North A2,Butterfly Mixie 750W,9,3600.0,32400.0,Krishnagiri North A2,63855 08169,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Butterfly Mixie 750W,NaN
3,D026,Krishnagiri North A2,Sujatha Mixie,1,5850.0,5850.0,Krishnagiri North A2,63855 08169,NaN,NaN,NaN,NaN,District,Article,Electronics,NaN,Sujatha Mixie,NaN
4,D026,Krishnagiri North A2,Diamond Cooker 12 Ltrs,5,1600.0,8000.0,Krishnagiri North A2,63855 08169,NaN,NaN,NaN,NaN,District,Article,Kitchen Items,NaN,Diamond Cooker 12L,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,I001,"Government Leprosy Centre,Chengalpattu.",Front Load tricycle,1,14560.0,14560.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Bicycle & Tricycle,NaN,Front Load tricycle,NaN
1101,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium holed rice strainer with Handle,1,3500.0,3500.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Holed Rice Strainer,NaN
1102,I001,"Government Leprosy Centre,Chengalpattu.",Preethi Mixie,1,3600.0,3600.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Electronics,NaN,Preethi Mixie,NaN
1103,I001,"Government Leprosy Centre,Chengalpattu.",Cooker 20 Litres,1,5200.0,5200.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Cooker 20 Litres,NaN
1104,I001,"Government Leprosy Centre,Chengalpattu.",Aluminium 10 Kg Dabara with Lid,1,5400.0,5400.0,"Thirumani,Chengalpattu.",9943978134,NaN,NaN,NaN,NaN,Institutions,Article,Kitchen Items,NaN,Alu Dabara with lid,NaN

In [69]:
import pandas as pd

def district_beneficiary_stats(df):
    """
    Filters Beneficiary Type == 'District'
    Groups by Beneficiary Name
    Returns:
        - unique article count (Requested Item)
        - total quantity sum
    """

    df = df.copy()
    df.columns = df.columns.str.strip()

    result = (
        df[df["Beneficiary Type"].astype(str).str.strip() == "District"]
        .assign(
            **{
                "Beneficiary Name": lambda x: x["Beneficiary Name"].astype(str).str.strip(),
                "Requested Item": lambda x: x["Requested Item"].astype(str).str.strip(),
                "Quantity": lambda x: pd.to_numeric(x["Quantity"], errors="coerce").fillna(0),
            }
        )
        .groupby("Beneficiary Name", dropna=False)
        .agg(
            unique_articles=("Requested Item", "nunique"),
            qty_sum=("Quantity", "sum"),
        )
        .reset_index()
    )

    return result

old_stats = district_beneficiary_stats(df_old)
new_stats = district_beneficiary_stats(df_new)

old_stats

   Beneficiary Name  unique_articles  qty_sum
0           Andaman                2        2
1          Ariyalur                7       37
2      Chengalpattu                7       34
3   Chennai Central                5       14
4     Chennai North                6       23
..              ...              ...      ...
58          Vellore               13      109
59       Vijayawada                2       10
60       Villupuram               26      191
61     Virudhunagar                9       43
62   Visakapattinam                2        3

[63 rows x 3 columns]

In [70]:
new_stats

   Beneficiary Name  unique_articles  qty_sum
0           Andaman                2        2
1          Ariyalur                7       37
2      Chengalpattu                7       34
3   Chennai Central                5       14
4     Chennai North                6       23
..              ...              ...      ...
59          Vellore               13      109
60       Vijayawada                2       10
61       Villupuram               26      191
62     Virudhunagar                9       43
63   Visakapattinam                2        3

[64 rows x 3 columns]

In [72]:
# Merge on Beneficiary Name
comparison = old_stats.merge(
    new_stats,
    on="Beneficiary Name",
    how="outer",
    suffixes=("_Old", "_New")
)

# Fill missing values (if a beneficiary exists only in one file)
comparison[["unique_articles_Old", "qty_sum_Old",
            "unique_articles_New", "qty_sum_New"]] = \
comparison[["unique_articles_Old", "qty_sum_Old",
            "unique_articles_New", "qty_sum_New"]].fillna(0)

# Optional: add difference columns
comparison["articles_diff"] = comparison["unique_articles_New"] - comparison["unique_articles_Old"]
comparison["qty_diff"] = comparison["qty_sum_New"] - comparison["qty_sum_Old"]

comparison

,Beneficiary Name,unique_articles_Old,qty_sum_Old,unique_articles_New,qty_sum_New,articles_diff,qty_diff
0,Andaman,2.0,2.0,2,2,0.0,0.0
1,Ariyalur,7.0,37.0,7,37,0.0,0.0
2,Chengalpattu,7.0,34.0,7,34,0.0,0.0
3,Chennai Central,5.0,14.0,5,14,0.0,0.0
4,Chennai North,6.0,23.0,6,23,0.0,0.0
...,...,...,...,...,...,...,...
59,Vellore,13.0,109.0,13,109,0.0,0.0
60,Vijayawada,2.0,10.0,2,10,0.0,0.0
61,Villupuram,26.0,191.0,26,191,0.0,0.0
62,Virudhunagar,9.0,43.0,9,43,0.0,0.0
63,Visakapattinam,2.0,3.0,2,3,0.0,0.0

In [73]:
output_file = "district_beneficiary_parallel.xlsx"
comparison.to_excel(output_file, index=False)

print(f"Saved as {output_file}")

Saved as district_beneficiary_parallel.xlsx